// 主色
$mainColor: #41B883;
// 副色
$subcolor: #fca6b1;
// 辅色
$supColor: #c2bdc4;
// 背景色
$backgroundColor: #F8F8F8;
// 间隔线颜色
$intervalLineColor: $backgroundColor;
// 主文字颜色
$mainFontColor: #000;
// 次文字颜色
$subtextFontColor: #666;
// 辅文字颜色
$supTextFontColor: #999;
// 输入框提示文本颜色
$inputPlaceholderFontColor: #b3b3b3;
// 标题字体
$titleFontSize: 18px;
// 副标题字体
$subtitleFontSize: 16px;
// 正文字体
$mainFontSize: 14px;
// 辅文字体
$supTextFontSize: 12px;
// 间距
$interval: 10px;
// 圆角
$fillet: 15px;
